Accipiter striatus.csv
Accipiter_cooperii.csv
Accipiter_striatus.csv
Acer nigrum.csv
Actitis_macularius.csv
Aechmophorus_clarkii.csv
Agelaius_phoeniceus.csv
Agrostis scabra.csv
Aix_sponsa.csv
Amazona_viridigenalis.csv
Ambystoma maculatum.csv
Amelanchier sanguinea.csv
Amphispiza_bilineata.csv
Anartia_jatrophae.csv
Anas_acuta.csv
Anas_americana.csv
Anas_clypeata.csv
Anas_crecca.csv
Anas_cyanoptera.csv
Anas_discors.csv
Anas_platyrhynchos.csv
Anas_strepera.csv
Anaxyrus_terrestris.csv
Anaxyrus_woodhousii.csv
Anser_albifrons.csv
Antianthe_expansa.csv
Aratinga_mitrata.csv
Arenaria_melanocephala.csv
Argiope_argentata.csv
Argyrodes_elevatus.csv
Balanus_glandula.csv
Batrachoseps_nigriventris.csv
Bembix_americana.csv
Bocchoris_onychinalis.csv
Bombus_melanopygus.csv
Bombus_pensylvanicus.csv
